* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background: gray;
}

.header {
  color: goldenrod;
  background: dimgray;
  margin: 10% auto;
  width: 100%;
  padding: 5%;
  position: absolute;
  top: 30%;
}
